/* Write your CSS code here */
.header-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}
.header-logo {
  width: 120px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}
li {
  margin-right: 14px;
  color: #475569;
  font-size: 15px;
}
.header-button {
  background-color: #0967d2;
  border: none;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
